<configuration>
  <system.webServer>
    <handlers>
      <!-- Configura Python para manejar las solicitudes -->
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\desarrollo\METa\oficial\produccion\django\env\Scripts\python.exe|D:\desarrollo\METa\oficial\produccion\django\proyecto_django\manage.py" resourceType="Unspecified" />
    </handlers>
     <staticContent>
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
      </staticContent>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
